[tool.poetry]
name = "qfitswidget"
packages = [{ include = "qfitswidget" }]
version = "0.9.3"
description = "PyQt widget for displaying FITS files"
authors = ["Tim-Oliver Husser <thusser@uni-goettingen.de>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
matplotlib = "^3.7.1"
numpy = "^1.24.3"
astropy = "^5.2.2"
PyQt5 = "^5.15.9"

[tool.poetry.dev-dependencies]
black = ">21.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py39', 'py311']
